.custom-carousel-wrapper {
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.custom-carousel-wrapper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.carousel-image {
    transition: transform 0.3s ease-in-out;
}

.carousel-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.carousel-caption.carousel-caption-custom {
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 1) 100%);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px;
    width: 100%;
}