.footer {
  background-color: hsla(210, 29%, 24%, 0.7);
  margin-top: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.container {
  padding: 1.5rem 0;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #ecf0f1;
  font-size: 24px;
  transition: all 0.3s ease;
  will-change: transform;
}

.iconLink {
  display: inline-block;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.iconLink:hover .icon {
  color: #e2a3c2;
}

.iconLink:hover {
  transform: scale(1.4);
}

.content {
  text-align: center;
}

.text {
  color: #ecf0f1;
  margin-bottom: 0.25rem;
}